<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mdb.min.css">
    <title>Document</title>
</head>
<body>
  
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

    <!-- Jumbotron -->
  </header>
    <section style="background-color: #eee; margin-top: 25px;">
        <div class="container py-5">
      
          <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0" >&nbsp;</div>
            <div class="col-md-3" style="position: fixed;">
      
              <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>
      
              <div class="card">
                <div class="card-body">
      
                  <ul class="list-unstyled mb-0" >
                  
                    {% for user in user_list %}
                    <li class="p-2 border-bottom" style="background-color: #eee;" onclick="set_message_to('{{ user }}')">
                      <a href="#!" class="d-flex justify-content-between">
                        <div class="d-flex flex-row">
                         
                          <div class="pt-1">
                            <p class="fw-bold mb-0">
                    {{ user }}
                  </p>
                  
                </div>
              </div>
              <div class="pt-1">
                <p class="small text-muted mb-1">Just now</p>
               
              </div>
            </a>
          </li>
                      {% endfor %}
                  </ul>
      
                </div>
              </div>
      
            </div>
      
            <div class="col-md-6 col-lg-7 col-xl-8">
      
              <ul class="list-unstyled" id="msg_body">
    
                
              </ul>
              <ul class="list-unstyled" >
                <li class="bg-white mb-3">
                  <div class="form-outline">
                    <textarea class="form-control" id="textAreaExample2" rows="4"></textarea>
                    <label class="form-label" for="textAreaExample2">Message</label>
                  </div>
                </li>
                <button type="button" class="btn btn-info btn-rounded float-end" onclick="send()">Send</button>
              </ul>
      
            </div>
      
          </div>
      
        </div>
      </section>
</body>
<script src="/static/js/mdb.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
var msg_to = "{{user_list[0]}}";
function set_message_to(x) {
  msg_to=x;
  $('#msg_body').html("");
  $.ajax({
			url:"/get_msgs",
			method:"POST",
      data:{msg_from:msg_from, msg_to:msg_to},
			success:function(data)
			{
        //console.log(data);
        data.forEach(element => {
          console.log(element[1]);
          if (element[1]=='{{username}}'){
            $('#msg_body').append('<li class="d-flex justify-content-between mb-4"><img src="https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png" alt="avatar"class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60"><div class="card"><div class="card-header d-flex justify-content-between p-3"><p class="fw-bold mb-0">'+element[1]+'</p><p class="text-muted small mb-0"><i class="far fa-clock"></i>'+element[4]+'</p></div><div class="card-body"><p class="mb-0">'+element[3]+'</p></div></div></li>')

          }
          else{
            $('#msg_body').append('<li class="d-flex justify-content-between mb-4"><div class="card"><div class="card-header d-flex justify-content-between p-3"><p class="fw-bold mb-0">'+element[1]+'</p><p class="text-muted small mb-0"><i class="far fa-clock"></i>'+element[4]+'</p></div><div class="card-body"><p class="mb-0">'+element[3]+'</p></div></div><img src="https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png" alt="avatar"class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60"></li>')

          }

        });
        //$('#textAreaExample2').val("");
				//$('#user_data').html(data);
			}
		});

}
var msg_from = "{{username}}";
var msg="";
function send() {
   msg=$('#textAreaExample2').val();
  $.ajax({
			url:"/message",
			method:"POST",
      data:{msg_from:msg_from, msg_to:msg_to,msg:msg},
			success:function(data)
			{
        
        $('#msg_body').append('<li class="d-flex justify-content-between mb-4"><img src="https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png" alt="avatar"class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60"><div class="card"><div class="card-header d-flex justify-content-between p-3"><p class="fw-bold mb-0">'+msg_from+'</p><p class="text-muted small mb-0"><i class="far fa-clock"></i>a l\'instant</p></div><div class="card-body"><p class="mb-0">'+$('#textAreaExample2').val()+'</p></div></div></li>')
        $('#textAreaExample2').val("");
				//$('#user_data').html(data);
			}
		});
  
}

$(document).ready(function(){  
  set_message_to("{{user_list[0]}}");
  //setTimeout(setInterval(set_message_to(msg_to), 1000), 1000);
  //setInterval(set_message_to, 1000,msg_to);

})
</script>
</html>